<!DOCTYPE html>
<html>
<head>
	<title>Flickr App</title>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

	<style type="text/css">
	body {
		background-color: grey;
		text-align: center;
	}
	img {
		height: 300px;
		width: auto;
		box-shadow: 5px 5px 10px black;
		border: solid 4px salmon;
		display: inline-block;

	}
	.box {
		height: 200px;
		width: 200px;
		border-radius: 10px;
		background-color: salmon;
		margin: 0 auto;
	}

	ul {
		list-style-type: none;
	}
	li {
		display: inline-block;
		margin: 10px;
		padding: 2px;
	}
	
	</style>
</head>
<body ng-app="myApp">

	<div ng-controller="flickrCtrl">

		<h1>Search Here</h1>
		<input type="text" ng-model="query" ng-change="search()">

		<h1>Limit photo number to: </h1>
		<input type="text" ng-model="limitAmount">


		<ul>
			<li ng-repeat="i in photos | limitTo: limitAmount">
				<img ng-src="{{i.media.m}}">
				<p>{{i.title}}</p>	
			</li>




		</ul>

		  	
	</div>





</body>
</html>